*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/proposal.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translate(-50%-50%);
    text-align: center;
}
.text h1{
    font-size: 40px;
    animation-name:secret;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes secret{
         0%{
             text-decoration: underline solid 2px violet;
         }
         25%{
             transform: rotate(-10deg);
             color:red;
             text-decoration-line:dotted solid 2px violet;;
         }
         50%{
             text-decoration: underline solid 2px violet;

         }
         75%{
             transform: rotate(10deg);
             color: blue;
             text-decoration-line:dotted solid 2px violet;;
         }
         100%{
             text-decoration: underline solid 2px violet;
         }
     }
.text h2{
    font-size: 25px;
}
.text p{
    font-size: 15px;
}
